name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 1 * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # SVG
      - uses: lowlighter/metrics@main
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: jayvdb
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Australia/Perth
          plugin_followup: yes
          plugin_followup_sections: repositories
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_categories: markup, programming, data, prose
          plugin_languages_details: bytes-size, percentage
          plugin_languages_colors: github
          plugin_languages_limit: 20
          plugin_languages_recent_categories: programming
          plugin_languages_recent_days: 30
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used, recently-used
          plugin_languages_threshold: 0%
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact
          plugin_lines: yes
          plugin_notable: yes
          plugin_notable_repositories: yes
          plugin_reactions: yes
          plugin_reactions_display: absolute  # Or 'relative'
          plugin_reactions_ignored: github-actions[bot], dependabot[bot], dependabot-preview[bot]
          plugin_reactions_limit: 50
          plugin_reactions_limit_issues: 25
          plugin_reactions_days: 7
          plugin_reactions_details: count, percentage
          plugin_stackoverflow: yes
          plugin_stackoverflow_user: 5037965
          plugin_stackoverflow_sections: answers-top, answers-recent
          plugin_stackoverflow_limit: 3
          plugin_stackoverflow_lines: 0
          plugin_code: yes
          plugin_code_lines: 12
          plugin_code_load: 100
          plugin_code_visibility: public
      # HTML
      - uses: lowlighter/metrics@main
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          config_output: insights
          user: jayvdb
          template: classic
